.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 50vh;
  padding: 2rem 1.5rem;
}

input.checkbox {
  margin-right: 0.4rem;
}

label {
  margin: 0.75rem 0;
}

input.text {
  border: 1px solid black;
  margin: 0.5rem 0;
  padding: 0.3rem;
  height: 1.5rem;
  font-size: 14px;
}

label.text {
  margin: 0.5rem 0 0.2rem;
  text-transform: capitalize;
}

.required:after {
  content: " *";
  color: red;
}

.submit-button {
  width: 5rem;
  height: 3rem;
  border: 1px solid black;
  box-shadow: 3px 3px 5px 0px #000;
  margin-top: 3rem;
  background-color: forestgreen;
  color: ghostwhite;
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
}
