.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 50vh;
    padding: 1.5rem;
}

input.checkbox {
    margin-right: 0.4rem;
}

input.text  {
    border: 1px solid black;
    margin-bottom: 0.5rem;
}

label.text {
    margin-bottom: 0.2rem;
}

.required:after {
    content:" *";
    color: red;
}

.submit-button {
    width: 5rem;
    height: 3rem;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 0px #000;
    margin-top: 3rem;
    background-color: forestgreen;
    color: ghostwhite;
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
}
